@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}
h1 {
  @apply text-xl sm:text-4xl lg:text-6xl capitalize;
}
h2 {
  @apply text-lg sm:text-xl lg:text-2xl capitalize;
}
h3 {
  @apply text-sm text-forest capitalize;
}
input,
textarea,
select,
option {
  @apply w-full bg-white text-black text-xs h-10 rounded-xl px-2;
}
input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}
select,
option {
  @apply text-sm;
}
label {
  @apply text-sm;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

* {
  /* border: 1px greenyellow solid; */
}
